body {
  text-align: center;
  color: #1b335f;
  margin: 0;
  font-family: 'ZCOOL XiaoWei', serif;
  /* font-family: 'Poppins', serif; */
}

.avatar {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
}

h1 {
  color: #69779b;
  font-size: 80px;
  margin: 0 auto 0 auto;
}

h2 {
  color: #69779b;
  font-family: 'Poppins', serif;
  font-size: 40px;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: blue;
  width: 50%;
  margin: auto;
}

p {
  line-height: 2;
}

hr {
  border: dotted #facd49 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #fab95b;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #fafafa;
}

.top__container {
  background: #acdbdf;
  position: relative;
  padding-top: 100px;
}

.personal__info {
  margin: 100px 0;
}

.tools__apple {
  align-items: center;
  width: 5rem;
  height: 5rem;
}

.tools__git {
  align-items: center;
  width: 5rem;
  height: 5rem;
}

.tools__atom {
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
}

.info {
  width: 30%;
  margin: 40px auto 60px auto;
}

.copyright {
  font-size: 10px;
  padding-top: 20px;
}

.button {
  background: #69779b;
  color: #fff;
  border-radius: 25px;
  font-size: 20px;
  font-family: cursive;
  padding: 6px 6px;
  margin: 40px auto 60px auto;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #9692af;
  color: #fff;
}

.footer {
  background: #f5564e;
  padding: 50px 0 20px;
}